<div class="container-fluid">

  <%= render "shared/search" %>

  <div class="d-flex justify-between flex-wrap">
  <% if @tools %>
    <% @tools.each do |tool| %>
      <div class="card m-3" style="width: 240px;">
        <p class="card-header text-gray bg-light"><%= tool.category.upcase %></p>
        <%= cl_image_tag tool.photo.key, style: "height: 238px; width: 238px;", class: "card-img-top" %>
        <div class="card-body border-top bg-light">
          <h4 class="card-title text-primary"><%= tool.name %></h4>
          <p><i class="fa-solid fa-location-dot"></i>&nbsp;&nbsp;<%= tool.location %></p>
          <%= link_to "SEE DETAILS", tool_path(tool), class: "btn btn-primary text-white" %>
          <%# WHY DOES THIS BUTTON CAN'T WORK WITH THE TURBO METHOD??%>
          <%= button_to tool_path(tool), method: :delete, class: "btndel btn-warning text-white" do %>
          <i class="fa-solid fa-trash-can"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <%= @message %>
  <% end %>
  </div>

</div>
