<nav class="px-3 py-2 bg-light border-bottom fixed-top">
  <div class="container-fluid">
    <%= link_to tools_path do %>
      <%= image_tag "cool_tool_logo.png", style: "height: 48px;" %>
    <% end %>
  </div>
</nav>

<div class="container-fluid">
  <div class="mx-auto my-3 w-75">
    <form action="/tools">
      <div class="input-group input-group-lg">
        <input type="text" name="search" class="form-control" placeholder="Search for a tool or a category ...">
        <input type="submit" value="FIND MY TOOL" class="btn btn-primary text-white">
      </div>
    </form>
  </div>

  <div class="d-flex justify-between">
  <% @tools.each do |tool| %>
    <div class="card m-3">
      <h5 class="card-header text-gray bg-light" style="font-variant:small-caps;"><%= tool.category %></h5>
      <%= image_tag "cool_tool_thumb.png", style: "height: 240px; width: 240px;", class: "card-img-top" %>
      <div class="card-body border-top bg-light">
        <h4 class="card-title text-primary"><%= tool.name %></h4>
        <%= link_to "SEE DETAILS", tool_path(tool), class: "btn btn-primary text-white" %>
      </div>
    </div>
  <% end %>
  </div>

</div>
