<h1>My Bookings</h1>
<p>@booking.user</p>


<div class="cards">
  <% @bookings.each do |booking| %>
    <div class="card-category" style="">
      <%= booking.request%><br>
      <%= "Start date" %>
      <%= booking.start_date %><br>
      <%= "End date" %>
      <%= booking.end_date %><br>
      <%= booking.user.email %>

      <%= button_to "🗑", booking_path(booking), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%><br>

       <%=  %><br>
    </div>
  <% end %>
</div>
