<div class="container">
  <div class="card-header">
    <h1><%= @tool.name %></h1>
  </div>

  <div class="card-body">
    <%= simple_form_for [@tool, @booking] do |f| %>
    <%= f.label "Add a comment:" %>
    <%= f.text_field :request, class: "form-control", placeholder: "Explain why you need this tool..." %>
    <%= "Pick-up date:" %>
    <%= f.date_field :start_date, class: "form-control" %>
    <%= "Return date:" %>
    <%= f.date_field :end_date, class: "form-control" %>
    <p></p>
    <p><%= f.submit class:'btn btn-primary'%></p>
      <% end %>
  </div>
</div>
