<nav class="bg-light border-bottom fixed-top p-3">
  <div class="d-flex justify-content-between align-items-center px-3 mx-2">
    <div style="width: 25%">
      <%= link_to tools_path do %>
        <%= image_tag "cool_tool_logo.png", style: "height: 36px;" %>
      <% end %>
    </div>
    <div class="d-flex justify-content-around align-items-center" style="width: 50%">
      <%= link_to tools_path do %>
        <h6>DISCOVER</h6>
      <% end %>
      <% if user_signed_in? %>
        <% if current_user.id == 1 %>
          <%= link_to bookings_path do %>
            <h6>MY BOOKINGS</h6>
          <% end %>
        <% else %>
          <%= link_to new_tool_path do %>
            <h6>MY TOOLBOX</h6>
          <% end %>
          <%= link_to bookings_path do %>
            <h6>MY BOOKINGS</h6>
          <% end %>
        <% end %>
      <% end %>
      <%= link_to tools_path do %>
        <h6>CATEGORIES</h6>
      <% end %>
    </div>
    <div class="d-flex justify-content-end align-items-center" style="width: 25%; vertical-align: middle;">
      <% if user_signed_in? %>
        <p class="text-primary mx-3 my-0"><strong><%= current_user.first_name.upcase %></strong><% if current_user.id == 1 %> (user)<% else %> (admin)<% end %></p>
        <%= link_to destroy_user_session_path, id: "login", data: { "turbo_method": :delete, "turbo_confirm": "Are you sure you want to log out?" } do %>
          <i class="fa-solid fa-circle-user fa-2x"></i>
          &nbsp;&nbsp;<i class="fa-solid fa-arrow-right-from-bracket fa-2x"></i>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path, id: "login", class: "nav-link" do %>
          <i class="fa-solid fa-arrow-right-to-bracket fa-2x"></i>
          &nbsp;&nbsp;<i class="fa-solid fa-circle-user fa-2x"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>
